header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 18%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
  /* border: 4px solid gold; */
  margin: 0;
  transition: height 0.1s; width: 0.1s;

 }

 /* Ajoutez ce style CSS pour le header */
header.expanding {
  height: 11.5%; /* Hauteur réduite */


}



/* #audio-player {
  position: fixed;
  width: 10%;
  margin-left: 58%;
  margin-top: 13%;
  

}

#audio-player button {
  background-color: transparent;
  color: transparent;

} */



.container {
   display: flex;
   justify-content: flex-start;
  /* justify-content:space-between;  */
  /* align-items: center; */
  width: 100vw;
  margin: 0;
  
  /* padding: 1em; */
  
}

.logo {
  width: 65%;  
  /* height: 100%; */
  /* background: black; */
  border-radius: 5%;
  align-items: center;

  /* margin-right: 5%; */
  margin-left: 20%;
  transition: height 0.1s; width: 0.1s;
  margin-top: 1.5%;
}

.logo.expanding {
  width: 38%;
}

nav {
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-right: 12%;
  margin-top: 0;
  
  /* padding: 10px; */
}

nav ul {
  /* margin-left: auto; */
  list-style: none;
  display: flex;
  margin: 0;
  padding-right: 10px;
  padding-left: 10px
  
}

nav li {
  /* margin-left: 0.8em; */
  margin-right: 1.4em;
}

nav a {
  color: blueviolet;
  /* text-shadow: 5px 0px 0px black; */

  font-size: 1.3em;
  text-decoration: none;
  font-weight: bold;

}

nav a:hover {
  color: #00FF00;
}


/* 
.menu a.accueil {
  color: gold; 
}

.menu a.foot {
  color: #00FF00; 
}

.menu a.boxe {
  color: red; 
}

.menu a.surf {
  color: blue; 
} */ 


.videobg {
  height: 90%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.bg-video {
  margin-top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}



.content {
  position: absolute;
  top: 65%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  z-index: 98;
  color: white;

}


h1 {
  text-align: center;
  z-index: 100;
  text-shadow: 0px 0px 10px black;
  
}

.content h1 {
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
}


.obj {
  margin-top: 2vh; 
  margin-bottom: 2vh;
  margin-left: 2%;
  margin-right: 2%;
  padding: 2vh; 
  background: linear-gradient(to bottom, #8B00FF, #00FF7F);
  border: 5px solid silver;
  border-radius: 10px;

 

}

.target {
  color: gold;
  text-shadow: 0px 0px 10px black;
  text-align: center;
 
}



.container-main-sidebar {
  display: flex;
  flex-direction: row; /* Afficher les éléments côte à côte */
  justify-content: space-between; /* Répartir l'espace disponible entre les éléments */
  align-items: flex-start; /* Aligner les éléments en haut du conteneur */
  border: 5px solid silver ;
  border-radius: 10px;
  margin-right: 2%;
  margin-left: 2%;

  background: linear-gradient(to bottom, #8B00FF, #00FF7F);


  
}

.presentation {
  margin-top: 5vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2%;
}

.DA{
font-size: 40px;
position: relative;
left: 10%;
color: white;
text-shadow: 5px 5px 15px #000000;
top: -3%;
}


.social-container {
  display: flex;
  justify-content: space-between; 
  width: 95%;
  /* margin-left: -100px;
  margin-right: 10px; */
}

.social-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border: 5px solid silver;
  border-radius: 10px;
  height: 80vh;
  width: 40vh;
 

}

.video-container {
  border-radius: 2%; 
  overflow: hidden; 
  width: 90%; 
  height: 90%; 
  text-align: center;
  color: gold;
  text-shadow: 0 0 5px #000000;
  margin-top: 5%;
  margin-bottom: 15%;
}

iframe{

  height: 90%;
  width: 100%;
  border: 5% solid white;
  border-radius: 3%;
}

.sport-info {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  max-width: 50%;
  max-height: 30%;
  margin-top: 5%
  
}

.gif {
  border: 3px solid grey;
  border-radius: 3px;
  margin: 5%;
  max-width: 100%;
  max-height: 100%
    
}



.sidebar {
 
  width: 15%; 
  min-height: 60%;
  background: linear-gradient(to bottom, #8B00FF, #00FF7F);
  padding: 10px;
  margin-top: 12.8vh;
  margin-right: 5vh ;
  border: 5px solid grey;
  border-radius: 3px;
  color: white;
  }


  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 96%;
    background: linear-gradient(to bottom, #8B00FF, #00FF7F);
    color: white;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: -2%;
    border: 5px solid silver;
    border-radius: 8px;
    margin-bottom: 2%;
  }

  .horizon {

    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-around;


  }
  
  .QSN {
    font-size: 40px;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 15px #000000;
    margin-top: 2%;
  }
  
  
  .notremission {
    margin-left: 6%;
    margin-bottom: 5%;
    width: 40%;
    padding: 1.20% 1.20%;
    border: 5px solid silver;
    border-radius: 3px;
    height: 40%;
  }
  
  .Contact {
    margin-left: 3%;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 40%;
    padding: 2.15% 2.15%;
    border: 5px solid silver;
    border-radius: 3px;
    height: 40%;
  }
  
  h3 {
    color: gold;
    text-align: center;
    text-shadow: 0px 0px 10px black;

  }
  
  .youtube-paragraph {
    margin-bottom: 1px; 
  }
  
  .mail-paragraph {
    margin-bottom: 8px; 
  }
  
  .facebook-paragraph {

    margin-bottom: 2px;
  }



/* 
div, aside, p, section, img, ul, nav, li, main, h1, h2, .social-column, .social-container, .sport-info, .container-main-sidebar, header, .logo, .presentation, .video-container {
  border-color: red;
  border-style: solid;
  border-width: 2px;
} */

/* Styles pour les écrans plus petits */
@media screen and (max-width: 844px) {
  
 
  header {

height: 26%;

  }
  
  header.expanding {
    height: 18%; /* Hauteur réduite */
  
  
  }

  
  
  .container {
    display: flex;
    flex-direction: column; 
    text-align: center; 
    align-items: center;

  }

  .logo {
    margin-left: 0; 
    /* margin-bottom: 0.1em;  */
    width: 85%;
    margin-top: 0.2em;
  }

  .logo.expanding {
    width: 55%;
  }


  /* #audio-player {
    width: 100%; 
    bottom: 0; 
    left: 0; 
  } */

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: -2%;
    /* padding: 5px; */
  }
  


  nav li {
    margin-left: 0.4em;
    margin-right: 0.4em;
  }
  
  nav a {
    color: blue;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
  }

  .bg-video{
    max-height: 81%;
    margin-top: 40%;
    margin-bottom: 10;
    max-width: 100%;
    margin-right: 0;
   
     }

     .videobg{

      max-height: 60%;
      max-width: 100%;
     }

     .content h1 {
      white-space: wrap; 
    }
     
     
     
     .obj{

      margin-left: 2.5%;
      margin-right: 0;
      max-width: 95%;
    }

  .DA{

    margin-right: 15%;


  }

  .container-main-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center; /* Pour centrer les éléments horizontalement */
    max-width: 95%;
    margin-left: 3%;
    /* margin-right: 2%; */
    max-height: 200%;
  }

  .social-container {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    max-width: 350px;
  }

  .social-column {
    width: 90%; /* Ajustez la largeur selon vos besoins */
    margin: 5px auto;
    padding: 15px;
    border: 5px solid silver;
    border-radius: 10px;
    max-width: 350px;
    max-height: 400px;
  }

  .video-container {
    border-radius: 10px; 
    overflow: hidden; 
    width: 100%; /* Ajustez la largeur selon vos besoins */
    height: 100%; /* Pour conserver le rapport hauteur / largeur d'origine */
  }




  iframe {

  width: 100%;
  height: 100% ;
  }


  .sidebar {
    width: 80%; /* Ajustez la largeur selon vos besoins */
    margin-top: 183%;
    margin-bottom: 10% ;
    margin-left: 13%;
    padding: 10px;
    order: 4;
  }

  footer {

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    max-width: 95%;
    color: white;
    margin-top: 5%;
    /* margin-right: 2% ; */
    margin-left: 3% ;

    }

    .horizon {

      display: flex;
      flex-direction: column;
      margin-top: 5%;
      justify-content: space-around;
  
  
    }

    .Contact {
     
      font-size: 9px;
      width: 90% ;
      margin-right: 5%;
      margin-top: -10%;
      margin-bottom: 15%;
      margin-left: 6%;
      
    }

    .notremission{
      
      margin-right: 10%;
      margin-bottom: 20% ;
      width: 90%;

}

}


@media screen and (max-width: 844px) and (orientation: landscape) {
  header {
    height: 40%;
    position: fixed;
    top:0%
   
  }
  
  header.expanding {
    height: 25%;
  }

  .container {
    display: flex;
    flex-direction: row; /* Ajout de flex-direction pour empiler les blocs */
    /* justify-content: space-between;  */
    align-items: center;
    width: 100vw;
    padding: 1rem; /* Ajout de marges à gauche et à droite */
  }

  .logo {
    max-width: 95%;
  
    /* margin-top: 0.2em; */
  }

  .logo.expanding {
    max-width: 70%;
  }

  nav {
    display: flex;
    justify-content: center; /* Aligner à droite */
    align-items: center;
    margin-left: 0.5rem; /* Légère marge à gauche */
    margin-right: 2rem;
    margin-top: -2%;
  }

  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  nav li {
    margin-left: 0.3em;
    margin-right: 0.3em;
  }

  nav a {
    font-size: 1.1em;
    font-weight: bold;
    color: blue;
  }

  .videobg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* margin-bottom: -70%; */
    /* margin-top: 5%; */
  }

  .bg-video {

margin-top: 8%;

  }

  iframe{

    height: 150%;
    width: 100%;
    border: 5% solid white;
    border-radius: 3%;
  }



  .content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 98;
    margin-top: 20%;
  }

  .container-main-sidebar {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    max-width: 1080px;
    height: 490px;
    background-color: blueviolet;
    margin-left: 2%;
    margin-right: 2% ;
    margin-top: 2%;
  }
  
  .presentation {
    margin-top: 2vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  
  .DA {
    position: relative;
    /* left: 10%; */
    color: white;
    text-shadow: 0 0 5px #000000;
    padding: 2%;
  }
  
  .social-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
    max-height: 100%;
  }
  
  .social-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
    padding: 5px;
    border: 5px solid silver;
    border-radius: 10px;
    height: 370px;
    width: 150px;
  }
  
  .video-container {
    border-radius: 2%;
    overflow: hidden;
    max-width: 1050px;
    max-height: 550px;
    text-align: center;
    color: gold;
    text-shadow: 0 0 5px #000000;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  iframe {
    max-height: 100%;
    max-width: 550px;
    border: 5% solid white;
    border-radius: 3%;
    /* margin-top: 2%; */
  }
  
  .sport-info {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    max-height: 100%;
    max-width: 100%;
    margin-top: 2%;
  }
  
  .gif {
    border: 3px solid grey;
    border-radius: 3px;
    margin: 2%;
    width: 60px;
    height: 60px;
  }
  
  .sidebar {
    max-width: 40%;
    min-height: 77%;
    justify-content: center;
    padding: 10px;
    margin-top: 23vh;
    margin-left: 5vh;
    border: 5px solid grey;
    border-radius: 3px;
    color: white;
  }
  

  footer {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    text-align: center;
    max-width: 96%;
    color: white;
    margin-top: 4%;
    margin-right: 2%;
  }

  .Contact {
    font-size: 17px;
    width: 90%;
    margin-right: 10%;
    margin-top: -13%;
  }

  .notremission {
    margin-right: 10%;
    width: 90%;
  }
}