header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.logo {
  width: 30%;
  height: 15%;
  margin-left: 7em;
}

#audio-player {
  position: fixed;
  width: 20%;
}

#audio-player button {
  background-color: transparent;
  color: transparent;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1em;
  background-color: #ffffff;
  z-index: 100;
  background-color: transparent;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15%;
  margin-left: 30%;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

nav li {
  margin-left: 1em;
}

nav a {
  color: #555;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #00000050;
}

.bg-video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.videobg {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.content {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 98;
}


h1 {
  text-align: center;
  z-index: 100;
  text-shadow: 2px 4px 10px hsla(125, 90%, 48%, 0.8);
  
}

.obj {
  margin-top: 2vh; 
  margin-bottom: 10vh;
  padding: 2vh; 
  background: linear-gradient(to bottom, #8B00FF, #00FF7F);
 

}

.target {
  color: gold;
  text-shadow: 0 0 5px #000000;
  text-align: center;
 
}



.presentation {
  margin-top: 5vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-container {
  display: flex;
  justify-content: space-between; /* Aligne les blocs à gauche et à droite */
  width: 80%;
  margin-left: -150px;
  margin-right: 10px;
}

.social-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 80vh;
}

.video-container {
  border-radius: 10px; 
  overflow: hidden; 
  width: 312px; 
  height: 572px; 
}

.social-column iframe {
  width: 100%;
  height: 100%; 
}

/* Styles pour la sidebar */
.sidebar {
  width: 20%; /* Ajustez la largeur de la sidebar selon vos besoins */
  background-color: blue;
  padding: 20px;
  margin-left: auto; /* Déplace la sidebar le plus possible à droite */
}

/* Conteneur pour le main et la sidebar */
.container-main-sidebar {
  display: flex;
  justify-content: space-between; /* Permet d'espacer les éléments (main et sidebar) sur la ligne */
  align-items: flex-start; /* Aligne les éléments en haut de la ligne */
}


div, aside, section, img, ul, nav, li, main, h1, h2, .social-column, .social-container {
  border-color: red;
  border-style: solid;
  border-width: 2px;
}
